<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/base.css?v=1.1" type="text/css">
    <title>GMF Macro Calculator</title>
</head>
<body>
    <div class="title-area container-fluid">
        <div class="row title-area-row">
            <a class="col-2" href={{ url_for('gmf_website') }}><img id="logo" src="../static/img/gmf_logo.png" alt="Garrett Miller Fitness logo" class="container-fluid"></a>
            <div class="col-8 my-auto">
                <h1 class="my-auto">Macro Calculator</h1>
                <p>From <a href={{ url_for('gmf_website') }}><b>GARRETT MILLER FITNESS</b></a></p>
            </div>
            <a class="col-2" href={{ url_for('forge_website') }}><img id="logo" src="../static/img/forge_logo.png" alt="Forge Supplements logo" class="container-fluid"></a>
        </div>
    </div>
    <div class="form-area container-fluid">
        {% block content %}

        {% endblock %}
    </div>

    
    
</body>
</html>