<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/base.css?v=1.1" type="text/css">
    <title>Macro Calculator</title>
</head>
<body>
    <div class="title-area container-fluid">
        <div class="row title-area-row">
            <a class="col-2" href={{ url_for('gmf_website') }}><img id="logo" src="../static/img/gmf_logo.png" alt="Garrett Miller Fitness logo" class="container-fluid"></a>
            <h1 class="col-8 my-auto">Macro Calculator</h1>
            <a class="col-2" href={{ url_for('forge_website') }}><img id="logo" src="../static/img/forge_logo.png" alt="Forge Supplements logo" class="container-fluid"></a>
        </div>
    </div>
    <div class="form-area container-fluid">
        <form action="" method="post" novalidate class="container-fluid">
            {{ form.hidden_tag() }}
            <div class="row">
                <p class="col-5 left-form">{{ form.age.label }}: </p>
                <p class="col-7 right-form">{{ form.age(size=5, class_="small-inputs") }}</p>
            </div>
            <div class="row">
                <p class="col-5 left-form">{{ form.weight.label }}: </p>
                <p class="col-7 right-form">{{ form.weight(size=5, class_="small-inputs") }}</p>
            </div>
            <div class="row">
                <p class="col-5 left-form">Height: </p>
                <p class="col-7 right-form">{{ form.height_ft(size=5, class="small-inputs") }} {{ form.height_ft.label }} &nbsp; {{ form.height_in(size=5, class="small-inputs") }} {{ form.height_in.label }}</p>
            </div>
            <div class="row">
                <p class="col-5 left-form">{{ form.gender.label }}: </p>
                <p class="col-7 right-form">{{ form.gender(class_="form-control") }}</p>
            </div>
            <div class="row">
                <p class="col-5 left-form">{{ form.activity_level.label }}: </p>
                <p class="col-7 right-form">{{ form.activity_level(class_="form-control") }}</p>
            </div>
            <div class="row">
                <p class="col-5 left-form">{{ form.body_type.label }}: </p>
                <p class="col-7 right-form">{{ form.body_type(class_="form-control") }}</p>
            </div>
            <div class="row">
                <p class="col-5 left-form">{{ form.fitness_goal.label }}: </p>
                <p class="col-7 right-form">{{ form.fitness_goal(class_="form-control") }}</p>
            </div>
            <div class='row'>
                <p class='col submit-cont'>{{ form.submit(class_="btn btn-secondary btn-lg") }}</p>
                
            </div>

        </form>
    </div>

    
    
</body>
</html>